* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 95%;
  margin-inline: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
table thead th:nth-child(1) {
  width: 5%;
}
table thead th:nth-child(4),
table thead th:nth-child(3) {
  width: 10%;
}

th {
  text-align: center;
}
td {
  padding: 4px;
}

table,
thead,
tbody,
tr,
td,
th {
  border: 1px solid #000;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
  margin-top: 5px;
  margin-inline: 10px;
}
