body {
  height: 100vh;
  position: relative;
}

div {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 99999;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  transition: all 0.3 ease;
  opacity: 1;
}
