* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #03bdf0;
  color: white;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
}

#timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff9100;
  font-size: 24px;
  margin: 20px 0;
}

.getLinkBtn {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: white;
  border-radius: 99px;
  background: #ccc;
  cursor: not-allowed;
}
