* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

ul {
  list-style: none;
}

.menu {
  width: 400px;
  margin-top: 100px;
  margin-inline: auto;
  background: #000;
  padding: 10px 20px;
}

.menu > li ul {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.menu > li > a {
  display: flex;
  justify-content: space-between;
}

.menu > li > a.has-children::after {
  display: block;
  content: "▼";
}

.menu > li > a.has-children.active::after {
  display: block;
  content: "▼";
  transform: rotate(180deg);
}

.menu > li ul.menu-active {
  background-color: green;
}

a {
  color: #fff;
  text-decoration: none;
}
